---
title: Le Wagon - Middleman
---


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/loix.jpeg');">
  <div class="banner-content">
    <h1>Venez à Loix</h1>
    <p>Passez une semaine à Loix</p>
    <a class="btn btn-primary btn-lg">Découvrir</a>
  </div>
</div>

<div class="cards">
  <% places = %w(Port Village Grouin) %>
  <% places.each do |place| %>
  <div class="card" style="background-image: url('images/loix.jpeg');">
    <p class="card-category"><%= place %></p>
  </div>
  <% end %>
</div>

